.admin-area {
  height: 100vh;
  background: url("../../public/images/login-bg.svg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  .form-control {
    width: 100%;
  }
  input {
    border: 4px solid #7B7B7B;
    border-radius: 8px;
  }
  label {
    display: none;
  }
}

.container-table {
  overflow: scroll;
}