.btn-pink {
  background: $pink;
  color: #ffffff;
  font-weight: bold;
  &:hover {
    color: #ffffff;
  }
}

.btn-grey {
  width: 100%;
  background: #7B7B7B;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}