.best-products {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  img {
    width: 115px;
    max-height: 150px;
  }
  a {
    text-decoration: none;
  }
}

.card-category {
  height: 180px;
  min-width: 134px;
  max-width: 134px;
  border-radius: 14px;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  h3 {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
  }
  img {
    position: absolute;
    bottom: 0;
  }
}

.category2 {
  img {
    left: 25px;
  }
}

.category5 {
  img {
    left: 25px;
  }
}

.category4 {
  img {
    left: 30px;
    width: 70px;
  }
}

.card-category.pink-category {
  background-color: $pink;
}

.card-category.green-category {
  background-color: $green;
}

.card-category.blue-category {
  background-color: $blue;
}

.card-category.yellow-category {
  background-color: $yellow;
}

.card-category.red-category {
  background-color: $red;
}